table {
    width: 100%;
    border-collapse: collapse;
    color: black;
}

caption {
    font-size: 24pt;
    font-weight: bold;
    padding-bottom: 15px;
}

th, td {
    border: 2px solid indigo;
    padding: 5px 10px;
    text-align: center;
}

thead th {
    background-color: lightsteelblue;
    color: indigo;
    font-size: 16pt;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}