.navbar {
    background-color: darkgrey;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    background-color:thistle;
    color: purple;
}