.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.left-column {
    background-color: darkslateblue;
    color: azure;
    padding: 20px;
    width: 40%;
    text-align: justify;
}

.right-column {
    background-color: azure;
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-column img {
    width: 80%;
}